<section class="counter-section">
    <div class="container">
        <div class="row text-center g-0">
            <div class="col-6 col-md-3 counter-border-end">
                <div class="counter-item">
                    <h2 class="brand-font"><span class="counter-value" data-target="15">12</span>+</h2>
                    <p>Years Experience</p>
                </div>
            </div>
            <div class="col-6 col-md-3 counter-border-end">
                <div class="counter-item">
                    <h2 class="brand-font"><span class="counter-value" data-target="250">150</span>+</h2>
                    <p>Projects Done</p>
                </div>
            </div>
            <div class="col-6 col-md-3 counter-border-end">
                <div class="counter-item">
                    <h2 class="brand-font"><span class="counter-value" data-target="50">50</span>+</h2>
                    <p>Luxury Villas</p>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="counter-item">
                    <h2 class="brand-font"><span class="counter-value" data-target="100">100</span>%</h2>
                    <p>Vastu Compliant</p>
                </div>
            </div>
        </div>
    </div>
</section>