<footer class="py-5 text-center border-top bg-white">
    <div class="container">
        <div class="d-flex justify-content-center gap-4 mb-4">
            <a href="https://www.instagram.com/deepanshu_lodwal?igsh=dXdyaGRoeXlyM3h4" target="_blank" class="social-link" title="Instagram">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.facebook.com/profile.php?id=100077054087593" target="_blank" class="social-link" title="Facebook">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://x.com/Deepanshu0801" target="_blank" class="social-link" title="Telegram">
                <i class="bi bi-telegram"></i>
            </a>
        </div>
        <a href="/terms">Terms and conditions</a>

        <p class="mb-0 text-muted small uppercase-tracking">
            &copy; 2026 Lodwal Construction. All Rights Reserved.
        </p>
    </div>
</footer>