 <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white border-bottom">
        <div class="container">
            <a class="navbar-brand d-flex flex-column align-items-start" href="/">
    <span class="logo-main">LODWAL</span>
    <span class="logo-sub">ARCHITECTS & BUILDERS</span>
</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto uppercase-tracking">
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="#inquiry">Inquiry</a></li>
                    <li class="nav-item"><a class="nav-link btn-contact" href="tel:+919009209032">Call Now</a></li>
                </ul>
            </div>
        </div>
    </nav>