 <section id="portfolio" class="py-5">
        <div class="container py-5">
            <h2 class="section-title mb-5"><b>Selected Works</b></h2>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="project-card">
                        <img src="/images/image2.png" class="img-fluid" alt="Modern Villa">
                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="project-card">
                        <img src="/images/image1.png" class="img-fluid" alt="Heritage Home">

                    </div>
                </div>
             <div class="col-md-6">
                    <div class="project-card">
                        <img src="/images/image3.png" class="img-fluid" alt="Heritage Home">
                        
                    </div>
                </div>
                 <div class="col-md-6">
                    <div class="project-card">
                        <img src="/images/image4.png" class="img-fluid" alt="Heritage Home">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>