<a href="https://wa.me/9009209032?text=I'm%20interested%20in%20a%20residential%20project%20with%20Lodwal" class="whatsapp-btn shadow-lg" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" width="30" alt="WhatsApp">
        <span class="whatsapp-text">Chat with Lodwal</span>
    </a>